/* Google fonts 

font-family: 'Roboto', sans-serif;
font-family: 'Slabo 27px', serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'PT Sans', sans-serif;

*/

/* Fonts variables  */

$roboto: 'Roboto',sans-serif;
$slabo: 'Slabo 27px',serif;
$fjalla: 'Fjalla One',sans-serif;
$ptsans: 'PT Sans',sans-serif;
$ralway: 'Raleway',sans-serif;
$openSans: 'Open Sans', sans-serif;

/* Color theme variables */

$button-2-color:#8c52c6;
$button-2-color-hover :#210f33;
/*Hero variables*/